@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <h2>API Data: Order 1</h2>
    <p>@Model.Order1</p>
    <h2>API Data: All Data</h2>
    <p>@Model.AllOrders</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
